.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  width: 80px;
  position: fixed;
  top: 10px;
  left: 0;
  cursor: pointer;
  padding-left: 20px;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.nav__content {
  display: flex;
  justify-content: space-between;
}

.nav__search {
  font-size: 25px;
  position: fixed;
  right: 80px;
  cursor: pointer;
  color: #fff;
}
.search-box {
  position: fixed;
  right: 120px;
  width: 250px;
}
.search-box .search-box__input {
  outline: none;
  background: rgba(0, 0, 0, 0.85);
  border: solid 1px rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  padding: 7px 14px 7px 40px;
  width: 0%;
  font-size: 13px;
  color: #fff;
  opacity: 0;
  transition: ease width 1s, ease opacity 1s;
  float: right;
}
.search-box .search-box__icon {
  color: white;
  z-index: 10;
  cursor: pointer;
  right: 12px;
  transition: ease transform 1s;
  transition-delay: 50ms;
}
.search-box.active .search-box__icon {
  transform: translateX(-214px);
}
.search-box.active .search-box__input {
  opacity: 1;
  width: 100%;
}
@media (max-width: 500px) {
  .search-box {
    width: 150px;
  }
}
